/* The page starts hidden */
body {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 1 second fade */
}

/* This class will be added by JS to show the page */
body.fade-in {
    opacity: 1;
}